<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<connectionStrings>
		<clear/>
		<add name="BD" providerName="System.Data.SqlClient"
		connectionString="Server= localhost\NOMEERRADO; Database= db_pizza; Integrated Security=True" />
	</connectionStrings>

	<appSettings>
		<add key="IdiomaRegiao" value="pt-BR"/> 
	</appSettings>

</configuration>